::ng-deep .am-list-line {
    text-align: center !important;
}

.stepper {
    display: flex;
    align-items: center;
}

.specialist-type {
    margin-left: 15px;
}

.button {
    margin-top: 20px;
}