<div *ngIf="loadPage"
     class="clinical-care-detail-container">
    <div class="title-area">
        {{ guideline.title}}
    </div>
    <div class="writers">
        {{ guideline.writers}}
    </div>
    <div class="content">
        <span [innerHTML]="guideline.content"></span>
    </div>
    <div class="icons">
        <div class="icon-container">
            <div class="icon">
                <i class="far fa-eye"></i>
            </div>
            <div class="icon">
                <div class="text">
                    View Chapter
                </div>
            </div>
        </div>
        <div class="icon-container">
            <div class="icon">
                <i class="fas fa-download"></i>
            </div>
            <div class="icon">
                <div class="text">
                    Download Chapter
                </div>
            </div>
        </div>
        <div *ngIf="!isPageFavorited; else removeFavTmpl"
             class="icon-container"
             (click)="addToFavorites()">
            <div class="icon">
                <i class="far fa-heart"></i>
            </div>
            <div class="icon">
                <div class="text">
                    Add to favorites
                </div>
            </div>
        </div>
        <ng-template #removeFavTmpl>
            <div class="icon-container"
                 (click)="removeFromFavorites()">
                <div class="icon">
                    <i class="fas fa-heart text-warning"></i>
                </div>
                <div class="text">
                    Remove from Favorites
                </div>
            </div>
        </ng-template>
    </div>
</div>