<Navbar [leftContent]="menuIconTmpl"
        [rightContent]="rightContent"
        (onLeftClick)="onOpenChange()">
  {{getTitle()}}
</Navbar>

<ng-template #menuIconTmpl>
  <i *ngIf="isAuthenticated()"
     class="fas fa-bars text-white"></i>
</ng-template>

<ng-template #rightContent>
  <i class="fas fa-cog"></i>
</ng-template>
<Drawer class="my-drawer"
        [ngStyle]="{ minHeight: height + 'px' }"
        [contentStyle]="{ color: '#A6A6A6'}"
        [enableDragHandle]="true"
        [sidebar]="sidebar"
        [dragToggleDistance]="dragToggleDistance"
        [open]="state.open"
        (onOpenChange)="onOpenChange()">
  <div *ngIf="isAuthenticated() && storyVisible"
       class="story-line">
    <div *ngFor="let item of storyData"
         class="story-item">
      <div class="story">
      </div>
      <div class="story-title">
        {{item.title}}
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</Drawer>

<ng-template #icon>
  <Icon type="ellipsis"></Icon>
</ng-template>

<ng-template #sidebar>
  <div class="sidebar-container">
    <div class="upper-sidebar">
      <List className="my-list">
        <Accordion [defaultActiveKey]="'999'">
          <ng-container *ngFor="let item of menuData; let i = index">
            <ng-container *ngIf="item?.child?.length; else leafTmpl">
              <AccordionPanel [key]="i.toString()"
                              [header]="item.title">
                <ListItem *ngFor="let content of item?.child"
                          class="child-list-item text-white"
                          style="margin-left: 20px"
                          (click)="navigatePage(content)">
                  <span class="text-white">
                    {{ content.title }}
                  </span>
                </ListItem>
              </AccordionPanel>
            </ng-container>
            <ng-template #leafTmpl>
              <div class="leaf-item">
                <ListItem (click)="navigatePage(item)">
                  <span class="text-white">
                    {{ item.title }}
                  </span>
                </ListItem>
              </div>
            </ng-template>
          </ng-container>
        </Accordion>

      </List>
    </div>
    <div class="lower-sidebar">
      <List>
        <ListItem *ngFor="let item of lowerSidebarData"
                  (click)="navigatePage(item)">
          <span class="text-white">
            {{item.title}}
          </span>
        </ListItem>
      </List>
    </div>
  </div>

</ng-template>