::ng-deep .am-navbar{
    min-height:65px;
}

::ng-deep .my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  ::ng-deep .my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  ::ng-deep .my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
  }

  ::ng-deep .am-flexbox-item{
     width:195px;
  }

  ::ng-deep .am-drawer-draghandle{
visibility: hidden;
  }

  .list-item{
      display: flex;
      justify-content: center;
      max-width: 40px;
  }

  .story-line{
    overflow: hidden;
    height: 100px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    margin-bottom: 20px;
  }

  .story{
    border: 5px solid #F0ED8E;
    border-radius: 50%;
    background-color: #A1DAF7;
    height: 60px !important;
    width: 60px !important;
  }

  .story-line::-webkit-scrollbar {
    display: none;
  }

  .story-title {
    width: 100%;
    text-align: center;
  }

  .story-item {
    width: calc(30%);
    display: flex;
    flex-direction: column;
    white-space:normal !important;
    align-items: center;
  }

::ng-deep .am-drawer-content {
  padding-top: 0px !important;
  margin-top: 15px;
}

.sidebar-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #9FDAF8 !important;
  color: #fff;
}

::ng-deep .am-navbar{
  background-color: #9FDAF8;
  color: #fff;
}

:host::ng-deep .am-drawer-sidebar {
  background-color: #9FDAF8 !important;
  color: #fff;
}

::ng-deep .am-accordion-content{
  background-color: #9FDAF8 !important;
  color: #fff;
}
::ng-deep .am-accordion-item{
  background-color: #9FDAF8 !important;
  color: #fff;
}

.lower-sidebar{
  margin-bottom: 30%;
}

ListItem {
  background-color: #9FDAF8 !important;
  color: #fff;
  width: 100%;
}

::ng-deep .am-accordion-header {
  background-color: #9FDAF8 !important;
  color: #fff !important;
}

::ng-deep .am-accordion .am-accordion-item .am-accordion-header {
  background-color: #9FDAF8 !important;
  color: #fff !important;
}

::ng-deep .arrow {
  color: #fff;
}