<Navbar [leftContent]="menuIconTmpl"
        [rightContent]="rightContent"
        (onLeftClick)="onOpenChange()">
  ISPAD
</Navbar>

<ng-template #menuIconTmpl>
  <i class="fas fa-bars"></i>
</ng-template>

<ng-template #rightContent>
  <i class="fas fa-cog"></i>
</ng-template>
<Drawer class="my-drawer"
        [ngStyle]="{ minHeight: this.height + 'px' }"
        [contentStyle]="{ color: '#A6A6A6', textAlign: 'center', paddingTop: '42px' }"
        [enableDragHandle]="true"
        [sidebar]="sidebar"
        [dragToggleDistance]="dragToggleDistance"
        [open]="this.state.open"
        (onOpenChange)="onOpenChange()">
  <div class="story-line">
    <div *ngFor="let i of [1,2,3,4,6,7,6,6,6,6,6,6,6,6,6,66]"
         class="story">
      aaaaaaaaaaaaa
    </div>
  </div>
  <router-outlet></router-outlet>
</Drawer>

<ng-template #icon>
  <Icon type="ellipsis"></Icon>
</ng-template>

<ng-template #sidebar>
  <List>
    <ListItem *ngFor="let data of sidebarData">
      <div class="list-item"
           (click)="onListItemClick(data)">
        <i class="{{data.icon}} fa-2x"></i>
      </div>
    </ListItem>
  </List>
</ng-template>