::ng-deep .am-navbar{
    min-height:65px;
}

::ng-deep .my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  ::ng-deep .my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  ::ng-deep .my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
  }

  ::ng-deep .am-drawer-sidebar{
      width:70px;
  }

  ::ng-deep .am-drawer-draghandle{
visibility: hidden;
  }

  .list-item{
      display: flex;
      justify-content: center;
      max-width: 40px;
  }

  .story-line{
    overflow: hidden;
    height: 80px;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
  }

  .story{
    margin-right: 15px;
    border: 3px solid yellow;
    border-radius: 50%;
    background-color: rgb(57, 57, 223);
    height: 60px;
    width: 60px;
  }

  .story-line::-webkit-scrollbar {
    display: none;
  }

  .story-title {
    text-align: center;
    width: 90%;
  }

  .story-item {
    width: 20%;
    display: inline-block;
    text-align: center;
    white-space:normal !important;
  }

::ng-deep .am-drawer-content {
  padding-top: 0px !important;
  margin-top: 15px;
}