.card-area {
    text-align: start !important;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
}

.card-title {
    font-weight:700;
    color: black;
    font-size: medium;
    padding: 10px;
}

.card-writers{
    font-size: medium;
    color: black;
    margin-bottom: 15px;
    padding: 10px;
}

.card{
    border-bottom: 1px solid rgb(31, 30, 30);
}